<div>
  <form [formGroup]="service.form" (submit)="onSubmit()" >

    <div class="controles-container" style="width: 100%">

      <input hidden formControlName="$key">
      <mat-form-field class="main-form-field">
        <input formControlName="eventDes" matInput placeholder="New Event Description">
        <mat-error>This is a mandatory. !</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="main-form-field">
        <input formControlName="eventDate" matInput placeholder="Event Date : MM/DD/YYYY">
        <mat-error>This is a mandatory. !</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="normal-form-field">
        <input formControlName="startTime" matInput placeholder="Start Time">
      </mat-form-field>
      <mat-form-field class="normal-form-field">
        <input formControlName="endTime" matInput placeholder="End Time">
      </mat-form-field>
      <div class="button-row">
        <button mat-flat-button color="primary" type="submit" [disabled] = "service.form.invalid">Submit</button>
        <button mat-flat-button color="warn" (click)="onClear()">Clear</button>
      </div>
    </div>
  </form>
</div>
